<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492551448329-53lbpq5v0roean755a4vj913qo8gg2bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492551448329-53lbpq5v0roean755a4vj913qo8gg2bs</string>
	<key>API_KEY</key>
	<string>AIzaSyC3NKA7Y6LN_6f5hhpWvp9PHVdHbYLwLdU</string>
	<key>GCM_SENDER_ID</key>
	<string>492551448329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Capisoft.NextRoom</string>
	<key>PROJECT_ID</key>
	<string>roomies-application</string>
	<key>STORAGE_BUCKET</key>
	<string>roomies-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492551448329:ios:2e889854696f9e1065d5d8</string>
	<key>DATABASE_URL</key>
	<string>https://roomies-application-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>